<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <title> Project title </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Styling files -->
  <link rel="stylesheet" type="text/css" href="/public/bootstrap/dist/css/bootstrap.css" />
  <!-- Script Files -->
  <script src="/public/js/jQuery/jquery-3.4.1.js"></script>

</head>

<body>

  <%- content %>

</body>

</html>