<% extend ('../layout')%>
<div class="row" style="padding:20px">
    <div class="col-md-12">
        <div class="panel box-v1">
            <div class="panel-heading bg-white border-none">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                    <h1 class="text-left">User Details</h1>
                </div>

            </div>
            <div class="panel-body text-left" style="padding-top: 10px ;">
                <h3>First Name</h3>
                <h4> <%= user.val().firstName%></h4>
                <hr />
                <h3>Last Name</h3>
                <h4> <%= user.val().lastName%></h4>
                <hr />
                <h3>Email</h3>
                <h4> <%= user.val().e_mail%></h4>
                <hr />
                <h3>ID</h3>
                <h4> <%= user.val().id%></h4>
                <hr />
            </div>
        </div>
    </div>
</div>